{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style type="text/css">
        .table-root{
            background-color: #ffffff;
        }
        table.packages {
            text-align: left;
            width: 100%;
        }
        table.packages th {
            border-bottom: thin solid #757575;
            padding: 1em;
        }
        table.packages td {
            border-bottom: thin solid #bababa;
            padding: 1em;
        }
        .error{
            color: #f00;
        }
        .bolder{
            font-weight: bolder;
        }
        button + button
        {
            margin-left: 1em;
        }
    </style>
{% endblock css %}

{% block title %}
    {{ app_label }}
{% endblock title %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body">
        <div class="dashboard-row">
            <div class="dashboard-header clearfix">
                <h2>Manage Packages</h2>
            </div>
        </div>
        <div class="dashboard-row">
            <div class="dashboard-cell" style="width: 100%;">
                <p>
                    This page allows you to specify packages that should be available
                    when running the actual r command script. You just have
                    to specify the package name - <span class="bolder">downloading</span> and
                    <span class="bolder">installing</span> is done
                    <span class="bolder">automatically</span>.
                </p>
                <p>
                    The packages are downloaded from the
                    <a target="_blank" href="http://cran.r-project.org/web/packages/">CRAN database</a>.
                    To actually use individual packages from within your scripts, you have to load them by
                    calling the <code>library(...)</code> function.
                </p>
            </div>
        </div>
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-body">
                                <table class="packages">
                                    <tbody>
                                        <tr>
                                            <th style="width: 100px;">
                                                Name
                                            </th>
                                            <th style="width: 100px;">
                                                Owner
                                            </th>
                                            <th style="width: 120px;">
                                                State
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        {% for p in packages %}
                                            <tr>
                                                <td>
                                                    {{p.name}}
                                                </td>
                                                <td>
                                                    {{p.owner}}
                                                </td>
                                                <td>
                                                    <img src="{{STATIC_URL}}{{app_name}}/progress-wheel.gif" id="state-spinning-{{ p.name }}" style="display: none;" >
                                                    <span id="state-{{ p.name }}">{{ p.state }}</span>
                                                </td>
                                                <td>
                                                    {% if p.is_removable %}
                                                        <button class="btn" name="{{delete_package_action_prefix}}{{p.name}}">
                                                            Delete
                                                        </button>
                                                    {% else %}
                                                        <span style="font-style: italic">Cannot delete</span>
                                                    {% endif %}
                                                    {% if p.state == not_installed %}
                                                        <button class="btn install-package" type="button" data-packagename="{{ p.name }}">
                                                            Install Now
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if not packages %}
                                            <tr>
                                                <td colspan="4" style="font-style: italic;">
                                                    Required packages list is empty
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-head">
                                <h3>Add Package</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    To add a package to the above list, you have to enter the package
                                    name here. The package is not actually installed on the moment of adding
                                    to the list, but it's installed before a R script is executed.
                                </p>
                                <p>
                                    Maybe have a look at the list of
                                    <a href="http://cran.r-project.org/web/packages/available_packages_by_name.html"
                                            target="_blank">
                                        available packages
                                    </a> in the CRAN database.
                                </p>
                                <p>
                                    <label for="{{add_package_field_name}}"
                                           style="display: inline-block; margin-right: 1em;">
                                        Package Name:
                                    </label>
                                    <input type="text" style="margin-bottom: 0;"
                                           name="{{add_package_field_name}}" id="{{add_package_field_name}}">
                                    <button class="btn" name="{{add_package_action}}"
                                            style="margin-left: 1em; margin-bottom: 0;">
                                        Add Package
                                    </button>
                                </p>
                                {% if add_error %}
                                    <p class="error">
                                        {{ add_error }}
                                    </p>
                                {% endif %}
                                {% if add_fatal_error %}
                                    <p class="error">
                                        FATAL ERROR:
                                        {{ add_fatal_error }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content%}

{% block managers %}
{% endblock managers %}

{% block js %}
    <script type="text/javascript">
        var deps = [
            "splunkjs/ready!"
        ];
        require(deps, function(mvc) {
            $('button.install-package').click(function(){
                var button = $(this);
                var packageName = button.attr('data-packagename');
                button.attr('disabled', 'disabled');
                var state = $('#state-' + packageName);
                var spinner = $('#state-spinning-' + packageName);
                spinner.show();
                var post = $.post('../install_package/', {
                    'package-name': packageName
                });
                var reload = function(){
                    var getting = $.get('../package_state/', {
                        'package-name': packageName
                    });
                    var cancel = function(){
                        getting.abort();
                    };
                    getting['done'](function(res,y){
                        state.text(res.state);
                        var timeout = setTimeout(function(){
                            cancel = reload();
                        },1000);
                        cancel = function(){
                            clearTimeout(timeout);
                        };
                    });
                    getting['fail'](function(){
                        console.log('Unable to update package installation state');
                        var timeout = setTimeout(function(){
                            cancel = reload();
                        },1000);
                        cancel = function(){
                            clearTimeout(timeout);
                        };
                    });
                    return function(){
                        return cancel();
                    };
                };
                var cancelReload = reload();
                post['done'](function(res,y){
                    cancelReload();
                    if(res.error){
                        alert(res.error);
                    }
                    location.reload();
                });
                post['fail'](function(){
                    cancelReload();
                    button.removeAttr('disabled');
                    spinner.hide();
                    alert('A unexpected error occurred');
                    location.reload();
                });
            });
        });
    </script>
{% endblock js %}