{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style type="text/css">
        .table-root{
            background-color: #ffffff;
        }
        table.packages {
            text-align: left;
            width: 100%;
        }
        table.packages th {
            border-bottom: thin solid #757575;
            padding: 1em;
        }
        table.packages td {
            border-bottom: thin solid #bababa;
            padding: 1em;
        }
        .error{
            color: #f00;
        }
        .bolder{
            font-weight: bolder;
        }
    </style>
{% endblock css %}

{% block title %}
    {{ app_label }}
{% endblock title %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body">
        <div class="dashboard-row">
            <div class="dashboard-header clearfix">
                <h2>Manage Packages</h2>
            </div>
        </div>
        <div class="dashboard-row">
            <div class="dashboard-cell" style="width: 100%;">
                <p>
                    This page allows you to specify packages that should be available
                    when running the actual r command script. You just have
                    to specify the package name - <span class="bolder">downloading</span> and
                    <span class="bolder">installing</span> is done
                    <span class="bolder">automatically</span>.
                </p>
                <p>
                    The packages are downloaded from the
                    <a target="_blank" href="http://cran.r-project.org/web/packages/">CRAN database</a>.
                    To actually use individual packages from within your scripts, you have to load them by
                    calling the <code>library(...)</code> function.
                </p>
            </div>
        </div>
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-body">
                                <table class="packages">
                                    <tbody>
                                        <tr>
                                            <th style="width: 100px;">
                                                Name
                                            </th>
                                            <th style="width: 100px;">
                                                Owner
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        {% for p in packages %}
                                            <tr>
                                                <td>
                                                    {{p.name}}
                                                </td>
                                                <td>
                                                    {{p.owner}}
                                                </td>
                                                <td>
                                                    {% if p.is_removable %}
                                                        <button class="btn" name="{{delete_package_action_prefix}}{{p.name}}">
                                                            Delete
                                                        </button>
                                                    {% else %}
                                                        <span style="font-style: italic">Cannot delete</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if not packages %}
                                            <tr>
                                                <td colspan="2" style="font-style: italic;">
                                                    Required packages list is empty
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-head">
                                <h3>Add Package</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Just place the package name here and click Add.
                                </p>
                                <p>
                                    <input type="text" name="{{add_package_field_name}}">
                                    <button class="btn" name="{{add_package_action}}">
                                        Add
                                    </button>
                                </p>
                                {% if add_error %}
                                    <p class="error">
                                        {{ add_error }}
                                    </p>
                                {% endif %}
                                {% if add_fatal_error %}
                                    <p class="error">
                                        FATAL ERROR:
                                        {{ add_fatal_error }}
                                    </p>
                                {% endif %}
                                <p>
                                    Maybe have a look at the list of
                                    <a href="http://cran.r-project.org/web/packages/available_packages_by_name.html"
                                            target="_blank">
                                        available packages
                                    </a> in the CRAN database.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content%}

{% block managers %}
{% endblock managers %}

{% block js %}
    <script type="text/javascript">
        var deps = [
            "splunkjs/ready!"
        ];
        require(deps, function(mvc) {
        });
    </script>
{% endblock js %}