{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style type="text/css">
        .table-root{
            background-color: #ffffff;
        }
        table.scripts {
            text-align: left;
            width: 100%;
        }
        table.scripts th {
            border-bottom: thin solid #757575;
            padding: 1em;
        }
        table.scripts td {
            border-bottom: thin solid #bababa;
            padding: 1em;
        }
        .error{
            color: #f00;
        }
    </style>
{% endblock css %}

{% block title %}
    {{ app_label }}
{% endblock title %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body">
        <div class="dashboard-row">
            <div class="dashboard-header clearfix">
                <h2>Manage Scripts</h2>
            </div>
        </div>
        <div class="dashboard-row">
            <div class="dashboard-cell" style="width: 100%;">
                <p>
                    This page allows you to upload your custom R script files into Splunk.
                    Uploaded scripts can be used from the actual r command script by calling
                    the <code>source(...)</code> function.
                </p>
            </div>
        </div>
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-body">
                                <table class="scripts">
                                    <tbody>
                                        <tr>
                                            <th style="width: 100px;">
                                                Name
                                            </th>
                                            <th style="width: 100px;">
                                                Owner
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        {% for s in scripts %}
                                            <tr>
                                                <td>
                                                    {{s.file_name}}
                                                </td>
                                                <td>
                                                    {{s.owner}}
                                                </td>
                                                <td>
                                                    {% if s.is_removable %}
                                                        <button class="btn" name="{{delete_script_action_prefix}}{{s.file_name}}">
                                                            Delete
                                                        </button>
                                                    {% else %}
                                                        <span style="font-style: italic">Cannot delete</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if not scripts %}
                                            <tr>
                                                <td colspan="3" style="font-style: italic;">
                                                    No Script uploaded
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell"  style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-head">
                                <h3>Upload New Script</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <input type="file" name="{{new_script_field_name}}">
                                    <button class="btn" name="{{upload_new_script_action}}">Upload</button>
                                </p>
                                {% if add_error %}
                                    <p class="error">
                                        {{ add_error }}
                                    </p>
                                {% endif %}
                                {% if add_fatal_error %}
                                    <p class="error">
                                        FATAL ERROR:
                                        {{ add_fatal_error }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="dashboard-row">
            <div class="dashboard-cell" style="width: 100%;">
                <p>
                    There is a build-in script called <code>add.r</code> (which you can see it in the table above)
                    with the following content:
                </p>
                <pre>
add <- function(a,b) {
  c = a+b
  return(c)
}</pre>
                <p>
                    You can import the <code>add.r</code> script file by calling <code>source('add.r')</code> function.
                    After that you are able to call the actual <code>add</code> function.
                </p>
                <p>
                    The following script adds the numbers 4 and 2. The result is used to generate a data frame as
                    the script output:
                </p>
                <pre>
source('add.r')
result = add(4,2)
output = data.frame(Result=c(result))</pre>
                <p>
                    You can run this script insite a Splunk search using the <code>r</code> command by putting it
                    into quotes:
                </p>
                <pre>
| r "
source('add.r')
result = add(4,2)
output = data.frame(Result=c(result))
"</pre>
            </div>
        </div>
    </div>
{% endblock content%}

{% block managers %}
{% endblock managers %}

{% block js %}
    <script type="text/javascript">
        var deps = [
            "splunkjs/ready!"
        ];
        require(deps, function(mvc) {
        });
    </script>
{% endblock js %}