{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}
    {{app_label}}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkdj/setup.css" />
    <style>
        .splunkdj-setup-form {
            max-width: 650px;
            _width: inherit;
            margin: 30px;
        }
        .r-download-button {
            margin: 10px;
            padding: 10px 20px;
            border-radius: 4px;
            background: rgb(22, 121, 195) linear-gradient(rgb(29, 137, 219), rgb(12, 96, 160));
            text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
            color: rgb(255, 255, 255);
            border: 1px solid rgba(0, 0, 0, 0.498039);
            box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 0 inset;
            font-family: ProximaNovaRgRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: larger;
            display: inline-block;
            height: 20px;
            line-height: 20px;
        }
        #id_r_path{
            width: 90%;
        }
    </style>
{% endblock css %}

{% block content %}
    <form class="splunkdj-setup-form" method="post" action="">
        <h2>Setup the R App</h2>
        <p>
            This app depends on R, which is an external library for statistical computation.
            Please download and install the library for your OS:
        </p>
        <p>
            <a class="r-download-button" href="http://cran.r-mirror.de/bin/macosx/R-latest.pkg">
                Download for Mac
            </a>
            <a class="r-download-button" target="_blank" href="http://cran.r-mirror.de/bin/windows/base/release.htm">
                Download for Windows
            </a>
            <a class="r-download-button" target="_blank" href="http://mirrors.softliste.de/cran/bin/linux/">
                Download for Linux/Unix
            </a>
        </p>
        <p id="installation_path_description">
            After installing, please check the installation path.
            For Windows, it should be something like <code>C:\Program Files\R\R-3.0.3\bin\R.exe</code>.
            For Mac OS X and Linux or Unix, it's probably <code>/usr/bin/R</code>.
        </p>
        <hr>
        <p>
            The app works as follows. When you run the <code>r</code> command, the data from your Splunk pipeline is
            saved as a CSV file, and loaded into R using read.csv. Your custom script is then executed on the
            <code>input</code> variable, the <code>output</code> variable is saved using write.csv, and this final CSV
            is loaded back into Splunk.
        </p>
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
            {% if configured %}
                <a class="btn" href="{% url 'r:home' %}">Cancel</a>
            {% endif %}
        </p>
    </form>
    <div style="height: 30px;"></div>
{% endblock content%}

{% block js %}
    <script type="text/javascript">
        require(['jquery'],function($)
        {
            $('#id_r_path').parent().insertAfter($('#installation_path_description'));
        });
    </script>
{% endblock js %}